<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
</head>
<body>
<h1>Add New User</h1>
<p style="color:red" th:text="${message}">message</p>
<form action="/registration" method="post">
    <div><label> Name: <input type="text" name="name"/><br><br></label></div>
    <div><label> Email: <input type="text" name="username"/><br><br></label></div>
    <div><label> Password: <input type="password" name="password"/><br><br></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign Up"/></div>
</form>
<br>
<a href="/users">Users List</a>
</body>
</html>